@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts\raleway\raleway-800.woff2"); format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts\rubik\rubik-400.woff2"); format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts\rubik\rubik-700.woff2"); format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "rubik", "arial" sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #FFFFFF;
}
/*...хедер...*/
.main-header {
  background-color: #FFE17F;
  width: 1160px;
  margin: 0 auto;
}
.main-header-navigation {
  width: 1040px;
  align-content: space-between;
  margin: 0 auto;
  border: 1px solid blue;  /* ! ориентиры ! убрать в конце ! */
}
.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.navigation-user-item:last-child {
  justify-content: flex-end;
}
.navigation-user-item:nth-child(3) {
  margin-left: auto;
}
.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.navigation-item:last-child {
  justify-content: flex-end;
}
.navigation-item:nth-child(3) {
  margin-left: auto;
}
.slider-1 {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.image-container {
  width: 1111px;
  border: 1px solid blue;  /* ! ориентиры ! убрать в конце ! */
}
.description-container {
  width: 560px;
  border: 1px solid blue;  /* ! ориентиры ! убрать в конце ! */
}
.slider-2, .slider-3 {   /* скрыты 2 слайда */
  display: none;
}
.categories-list {
  display: flex;
}
.categories-square {
  width: 160px;
  height: 160px;
  background: #FFE17F;
}
/*...как настроить внешний вид строки поиска?...*/
input::-webkit-input-placeholder {
  color: inherit;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.search-button-text {
  color: inherit;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.navigation-user-link {     /* войти/сравнить/корзина */
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}
.navigation-link {   /* каталог/дост,гар,конт/подробнее/подроб.о нас/напиш.нам/дост,гар,кред  */
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  color: inherit;
  letter-spacing: 20%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2em;
  background-color: #FFE17F;
}

/* ... оформление main страницы index ... */

.main-container {
  flex-grow: 1;
}
.slider-number {
  font-family: "rubik", sans-serif;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
  text-align: right;
  background-color: #FFE17F;
}
.slider-title {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}
.slider-text {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.slider-table-title {   /*  меняется цвет и размер, но не меняет font family!
                                 и отображается гораздо меньше, чем в макете !!!  */
  font family: "rubik", sans-serif;
  font-weight: 400;
  font size: 36px;
  line height: 30px;
  color: inherit;
  text-align: left;
}
.slider-table-text {
  font family: "rubik", sans-serif;
  font-weight: 400;
  font size: 16px;
  line height: 30px;
  color: #444444;
}
.categories-link {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}
.services {
  background-color: #F0F0F0;
}
.tabcontent-title {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}
.tabcontent-text {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.offer {
  background-color: #F0F0F0;
  text-align: center;
}
.offer-text {
  font-family: "raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: .2em;  /* 20% */
}
.about-us-title {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}
.about-us-text {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.about-us-list {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: inherit;
  letter-spacing: -.02em;
}
.contacts-title {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}
.contacts-text {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.contacts-subtitle {
  font-family: "rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
}
.contacts-adress-text {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  font-style: normal;
}
.contacts-phone {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  font-style: normal;
}
.contacts-schedule-item {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  list-style-type: none;
}
.contacts-schedule {
  padding-left: 0;
}
.subscribe-subtitle {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}
.subscribe-text {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.subscribe {
  background-color: #F0F0F0;
}

/* ... оформление main страницы catalog ... */

.inner-header-title {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}
.breadscrumbs-link {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
.catalog-filter-title1 {
  font-family: "raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.catalog-filter-title2 {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: inherit;
  letter-spacing: -.02em;
}
span.control-label {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: inherit;
}
form.sorting-type {
  font-family: "raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.product-card-title {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -.02em;
  text-decoration: none;
}
.product-card-price {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}
.pagination-link {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
}

/*  ... футер... */

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}
.page-footer a {
  color: inherit;
}
.footer-address {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
}
.footer-navigation-list {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
}
.phone-number {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}
